n8n/workflows/sparky_pipeline_ia_complet.json
{
  "name": "SPARKY - Pipeline IA Complet",
  "nodes": [

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sparky/notify",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "node-webhook",
      "name": "1. Reception Document",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 400],
      "webhookId": "sparky-pipeline"
    },

    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst mime = body.mime_type || 'application/pdf';\nconst isImage = mime.startsWith('image/');\nconst aiModel = isImage ? 'Mistral Vision (pixtral-12b-2409)' : 'Mistral Small (mistral-small-latest)';\nconsole.log('Document recu:', body.nom_fichier, '| Modele IA:', aiModel);\nreturn [{ json: {\n  nom_fichier: body.nom_fichier || 'document',\n  mime_type: mime,\n  ai_model: aiModel,\n  is_image: isImage,\n  received_at: new Date().toISOString(),\n  // donnees deja extraites par le backend\n  type_document: body.type_document,\n  fournisseur: body.fournisseur,\n  numero_document: body.numero_document,\n  date_document: body.date_document || '',\n  montant_ht: body.montant_ht || '0',\n  montant_tva: body.montant_tva || '0',\n  montant_ttc: body.montant_ttc || '0',\n  score_confiance: body.score_confiance || 0,\n  modele_ia: body.modele_ia || aiModel,\n  lignes: body.lignes || []\n}}];"
      },
      "id": "node-validate",
      "name": "2. Validation et Detection Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 400]
    },

    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst typeLabels = { 'facture':'Facture','devis':'Devis','bon_livraison':'Bon de Livraison','bon_commande':'Bon de Commande','avoir':'Avoir' };\nconst typeLabel = typeLabels[d.type_document] || d.type_document || 'Inconnu';\nconst confiance = Math.round((d.score_confiance||0)*100);\nconst niveau = confiance>=85?'Eleve':confiance>=60?'Moyen':'Faible';\nconsole.log('Classification Mistral AI:', typeLabel, confiance+'%');\nreturn [{ json: { ...d, type_label: typeLabel, confiance_pct: confiance, confiance_niveau: niveau } }];"
      },
      "id": "node-classify",
      "name": "3. Classification IA (Mistral AI)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 400]
    },

    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconsole.log('Resultat classification valide:', d.type_label, d.confiance_pct+'%', d.confiance_niveau);\nreturn [{ json: d }];"
      },
      "id": "node-classif-result",
      "name": "4. Resultat Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400]
    },

    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst lignes = d.lignes || [];\nconst totalTTC = lignes.reduce((acc,l) => acc + Number(l.montant_ttc||0), 0);\nconsole.log('Extraction Mistral AI:', lignes.length, 'articles | TTC:', totalTTC.toFixed(3), 'TND');\nreturn [{ json: { ...d, nb_lignes: lignes.length, montant_ttc: d.montant_ttc || totalTTC.toFixed(3), extraction_moteur: d.is_image ? 'Mistral Vision (pixtral-12b-2409)' : 'Mistral Small (mistral-small-latest)' } }];"
      },
      "id": "node-extract",
      "name": "5. Extraction Donnees IA (Mistral AI)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },

    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconsole.log('Extraction complete:', d.nb_lignes, 'articles | Moteur:', d.extraction_moteur);\nreturn [{ json: d }];"
      },
      "id": "node-extract-result",
      "name": "6. Resultat Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 400]
    },

    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst lignes = d.lignes || [];\n\n// Couleur badge confiance\nconst badgeColor = d.confiance_pct >= 85 ? '#2e7d32' : d.confiance_pct >= 60 ? '#e65100' : '#c62828';\nconst badgeBg    = d.confiance_pct >= 85 ? '#e8f5e9' : d.confiance_pct >= 60 ? '#fff3e0' : '#ffebee';\n\n// Tableau articles\nlet articlesHtml = '';\nif (lignes.length > 0) {\n  const rows = lignes.map((l, i) => {\n    const pu  = Number(l.prix_unitaire || 0);\n    const qte = Number(l.quantite || 1);\n    const rem = Number(l.remise || 0);\n    const tva = Number(l.tva || 0);\n    const ttc = Number(l.montant_ttc || pu * qte * (1-rem/100) * (1+tva/100));\n    return `<tr style=\"background:${i%2===0?'#fff':'#f8f9ff'}\">`\n      + `<td style=\"padding:9px 14px;border:1px solid #e8e8e8;font-weight:600;color:#1a1a2e\">${l.designation||'N/A'}</td>`\n      + `<td style=\"padding:9px 14px;border:1px solid #e8e8e8;font-family:monospace;font-size:11px;color:#1565c0;text-align:center\">${l.reference||'-'}</td>`\n      + `<td style=\"padding:9px 14px;border:1px solid #e8e8e8;text-align:center;font-weight:600\">${qte}</td>`\n      + `<td style=\"padding:9px 14px;border:1px solid #e8e8e8;text-align:right\">${pu.toFixed(3)}</td>`\n      + `<td style=\"padding:9px 14px;border:1px solid #e8e8e8;text-align:center;color:${rem>0?'#e65100':'#aaa'}\">${rem>0?rem+'%':'-'}</td>`\n      + `<td style=\"padding:9px 14px;border:1px solid #e8e8e8;text-align:center;color:#555\">${tva>0?tva+'%':'-'}</td>`\n      + `<td style=\"padding:9px 14px;border:1px solid #e8e8e8;text-align:right;font-weight:700;color:#1a1a2e\">${ttc.toFixed(3)}</td>`\n      + '</tr>';\n  }).join('');\n  articlesHtml =\n    `<h3 style=\"color:#1a1a2e;font-size:15px;font-weight:700;margin:28px 0 14px;padding-bottom:8px;border-bottom:2px solid #f5c518\">Articles Extraits par IA <span style=\"background:#1a1a2e;color:#f5c518;font-size:12px;padding:2px 10px;border-radius:20px;margin-left:8px\">${lignes.length} ligne(s)</span></h3>`\n    + '<div style=\"overflow-x:auto\"><table style=\"width:100%;border-collapse:collapse;font-size:13px\">'\n    + '<thead><tr style=\"background:#1a1a2e\">'\n    + '<th style=\"padding:11px 14px;color:#f5c518;text-align:left;border:1px solid #2a2a4a\">Designation</th>'\n    + '<th style=\"padding:11px 14px;color:#f5c518;text-align:center;border:1px solid #2a2a4a\">Reference</th>'\n    + '<th style=\"padding:11px 14px;color:#f5c518;text-align:center;border:1px solid #2a2a4a\">Qte</th>'\n    + '<th style=\"padding:11px 14px;color:#f5c518;text-align:right;border:1px solid #2a2a4a\">Prix U. (TND)</th>'\n    + '<th style=\"padding:11px 14px;color:#f5c518;text-align:center;border:1px solid #2a2a4a\">Remise</th>'\n    + '<th style=\"padding:11px 14px;color:#f5c518;text-align:center;border:1px solid #2a2a4a\">TVA</th>'\n    + '<th style=\"padding:11px 14px;color:#f5c518;text-align:right;border:1px solid #2a2a4a\">TTC (TND)</th>'\n    + '</tr></thead>'\n    + `<tbody>${rows}</tbody>`\n    + '<tfoot>'\n    + `<tr style=\"background:#fff8e1\"><td colspan=\"2\" style=\"padding:11px 14px;font-weight:700;color:#555;border:1px solid #e0e0e0;font-size:12px\">Moteur IA: ${d.extraction_moteur||'Mistral AI'}</td><td colspan=\"4\" style=\"padding:11px 14px;font-weight:700;color:#1a1a2e;text-align:right;border:1px solid #e0e0e0\">TOTAL HT</td><td style=\"padding:11px 14px;font-weight:700;color:#1a1a2e;text-align:right;border:1px solid #e0e0e0\">${d.montant_ht} TND</td></tr>`\n    + `<tr style=\"background:#f0f4ff\"><td colspan=\"6\" style=\"padding:11px 14px;font-weight:800;color:#1a1a2e;text-align:right;border:1px solid #e0e0e0;font-size:14px\">TOTAL TTC</td><td style=\"padding:11px 14px;font-weight:800;font-size:16px;color:#1a1a2e;text-align:right;border:1px solid #e0e0e0\">${d.montant_ttc} TND</td></tr>`\n    + '</tfoot></table></div>';\n} else {\n  articlesHtml = '<p style=\"color:#888;font-style:italic;background:#f9f9f9;padding:16px;border-radius:8px;margin-top:20px\">Aucun article extrait pour ce document.</p>';\n}\n\n// Predictions classification\nconst predsHtml = (d.predictions||[]).slice(0,3).map(p =>\n  `<div style=\"display:flex;justify-content:space-between;align-items:center;padding:6px 0;border-bottom:1px solid #f0f0f0\">`\n  + `<span style=\"font-size:12px;color:#555\">${p.type||p.label||'N/A'}</span>`\n  + `<span style=\"font-size:12px;font-weight:700;color:#1565c0\">${Math.round((p.score||0)*100)}%</span>`\n  + '</div>'\n).join('') || '<p style=\"color:#aaa;font-size:12px\">N/A</p>';\n\nconst date = new Date().toLocaleString('fr-TN', { timeZone: 'Africa/Tunis' });\nconst subject = `[SPARKY] ${d.type_label} extrait - ${d.fournisseur||'Fournisseur inconnu'} - ${d.montant_ttc} TND`;\n\nconst htmlBody =\n  '<div style=\"font-family:Arial,sans-serif;max-width:900px;margin:0 auto;background:#f5f5f5;padding:20px\">'\n\n  // HEADER\n  + '<div style=\"background:#1a1a2e;padding:28px 32px;border-radius:14px 14px 0 0;text-align:center\">'\n  + '<h1 style=\"color:#f5c518;margin:0;font-size:28px;letter-spacing:-0.5px\">SPARKY</h1>'\n  + '<p style=\"color:rgba(255,255,255,.55);margin:6px 0 0;font-size:13px\">Systeme Intelligent de Gestion Documentaire</p>'\n  + '</div>'\n\n  // PIPELINE STEPS\n  + '<div style=\"background:#fff;padding:20px 32px;border:1px solid #e0e0e0\">'\n  + '<h2 style=\"color:#1a1a2e;font-size:16px;margin:0 0 16px;text-transform:uppercase;letter-spacing:1px\">Pipeline IA Execute</h2>'\n  + '<div style=\"display:flex;gap:0;margin-bottom:24px;overflow-x:auto\">'\n  + '<div style=\"flex:1;text-align:center;padding:12px 8px;background:#e8f5e9;border-radius:8px 0 0 8px;border:1px solid #c8e6c9\"><div style=\"font-size:20px\">📥</div><div style=\"font-size:10px;font-weight:700;color:#2e7d32;margin-top:4px\">RECEPTION</div></div>'\n  + '<div style=\"width:2px;background:#e0e0e0\"></div>'\n  + `<div style=\"flex:1;text-align:center;padding:12px 8px;background:#e3f2fd;border:1px solid #bbdefb\"><div style=\"font-size:20px\">🔍</div><div style=\"font-size:10px;font-weight:700;color:#1565c0;margin-top:4px\">DETECTION</div><div style=\"font-size:9px;color:#888\">${d.is_image?'Image':'PDF'}</div></div>`\n  + '<div style=\"width:2px;background:#e0e0e0\"></div>'\n  + '<div style=\"flex:1;text-align:center;padding:12px 8px;background:#f3e5f5;border:1px solid #e1bee7\"><div style=\"font-size:20px\">🤖</div><div style=\"font-size:10px;font-weight:700;color:#6a1b9a;margin-top:4px\">CLASSIFICATION</div><div style=\"font-size:9px;color:#888\">Mistral AI</div></div>'\n  + '<div style=\"width:2px;background:#e0e0e0\"></div>'\n  + '<div style=\"flex:1;text-align:center;padding:12px 8px;background:#fff3e0;border:1px solid #ffe0b2\"><div style=\"font-size:20px\">📊</div><div style=\"font-size:10px;font-weight:700;color:#e65100;margin-top:4px\">EXTRACTION</div><div style=\"font-size:9px;color:#888\">Mistral AI</div></div>'\n  + '<div style=\"width:2px;background:#e0e0e0\"></div>'\n  + '<div style=\"flex:1;text-align:center;padding:12px 8px;background:#e8f5e9;border-radius:0 8px 8px 0;border:1px solid #c8e6c9\"><div style=\"font-size:20px\">✅</div><div style=\"font-size:10px;font-weight:700;color:#2e7d32;margin-top:4px\">NOTIFICATION</div><div style=\"font-size:9px;color:#888\">n8n</div></div>'\n  + '</div>'\n\n  // CLASSIFICATION RESULT\n  + '<div style=\"display:grid;grid-template-columns:1fr 1fr;gap:16px;margin-bottom:24px\">'\n  + '<div style=\"background:#f8f9ff;border-radius:12px;padding:20px;border-left:4px solid #1565c0\">'\n  + '<h3 style=\"margin:0 0 12px;color:#1a1a2e;font-size:14px\">Classification IA</h3>'\n  + `<div style=\"font-size:22px;font-weight:800;color:#1a1a2e;margin-bottom:8px\">${d.type_label}</div>`\n  + `<div style=\"display:inline-block;background:${badgeBg};color:${badgeColor};padding:4px 12px;border-radius:20px;font-size:12px;font-weight:700\">Confiance: ${d.confiance_pct}% — ${d.confiance_niveau}</div>`\n  + `<div style=\"margin-top:12px\">${predsHtml}</div>`\n  + '</div>'\n  + '<div style=\"background:#f8f9ff;border-radius:12px;padding:20px;border-left:4px solid #f5c518\">'\n  + '<h3 style=\"margin:0 0 12px;color:#1a1a2e;font-size:14px\">Informations Extraites</h3>'\n  + `<table style=\"width:100%;font-size:13px\"><tr><td style=\"padding:5px 0;color:#888\">Fournisseur</td><td style=\"font-weight:700;color:#1a1a2e\">${d.fournisseur||'N/A'}</td></tr><tr><td style=\"padding:5px 0;color:#888\">Numero</td><td style=\"font-family:monospace;color:#1565c0\">${d.numero_document||'N/A'}</td></tr><tr><td style=\"padding:5px 0;color:#888\">Date</td><td style=\"color:#555\">${d.date_document||'N/A'}</td></tr><tr><td style=\"padding:5px 0;color:#888\">Montant HT</td><td style=\"font-weight:600\">${d.montant_ht} TND</td></tr><tr><td style=\"padding:5px 0;color:#888\">TVA</td><td style=\"color:#555\">${d.montant_tva} TND</td></tr><tr><td style=\"padding:5px 0;color:#888\">Montant TTC</td><td style=\"font-size:18px;font-weight:800;color:#1a1a2e\">${d.montant_ttc} TND</td></tr></table>`\n  + '</div></div>'\n\n  // ARTICLES TABLE\n  + articlesHtml\n\n  + '</div>'\n\n  // FOOTER\n  + '<div style=\"background:#1a1a2e;padding:16px 32px;border-radius:0 0 14px 14px;text-align:center\">'\n  + `<p style=\"margin:0;color:rgba(255,255,255,.5);font-size:12px\">SPARKY &mdash; Pipeline IA: Mistral AI (pixtral-12b + mistral-small) + n8n &mdash; ${date}</p>`\n  + '</div>'\n  + '</div>';\n\nreturn [{ json: { subject, htmlBody, data: d } }];"
      },
      "id": "node-build-email",
      "name": "7. Construire Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 400]
    },

    {
      "parameters": {
        "sendTo": "mahmoud.elloumi@enis.tn",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "node-send-email",
      "name": "8. Envoyer Email (n8n)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1920, 400],
      "credentials": {
        "smtp": { "id": "smtp-sparky", "name": "SPARKY SMTP" }
      }
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', type: $('4. Resultat Classification').first().json.type_label, fournisseur: $('6. Resultat Extraction').first().json.fournisseur, nb_articles: $('6. Resultat Extraction').first().json.nb_lignes, montant_ttc: $('6. Resultat Extraction').first().json.montant_ttc }) }}"
      },
      "id": "node-response",
      "name": "9. Reponse Finale",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2160, 400]
    }

  ],

  "connections": {
    "1. Reception Document": {
      "main": [[{ "node": "2. Validation et Detection Type", "type": "main", "index": 0 }]]
    },
    "2. Validation et Detection Type": {
      "main": [[{ "node": "3. Classification IA (Mistral AI)", "type": "main", "index": 0 }]]
    },
    "3. Classification IA (Mistral AI)": {
      "main": [[{ "node": "4. Resultat Classification", "type": "main", "index": 0 }]]
    },
    "4. Resultat Classification": {
      "main": [[{ "node": "5. Extraction Donnees IA (Mistral AI)", "type": "main", "index": 0 }]]
    },
    "5. Extraction Donnees IA (Mistral AI)": {
      "main": [[{ "node": "6. Resultat Extraction", "type": "main", "index": 0 }]]
    },
    "6. Resultat Extraction": {
      "main": [[{ "node": "7. Construire Email HTML", "type": "main", "index": 0 }]]
    },
    "7. Construire Email HTML": {
      "main": [[{ "node": "8. Envoyer Email (n8n)", "type": "main", "index": 0 }]]
    },
    "8. Envoyer Email (n8n)": {
      "main": [[{ "node": "9. Reponse Finale", "type": "main", "index": 0 }]]
    }
  },

  "settings": { "executionOrder": "v1" },
  "tags": ["sparky", "pipeline", "ia", "soutenance"],
  "meta": {
    "description": "Pipeline IA complet SPARKY pour soutenance PFA. Montre chaque etape: reception, detection, classification Mistral AI, extraction Mistral AI, generation email HTML avec tableau articles, notification n8n."
  }
}
